<% content_for :title, "New task" %>
<div class = "new-task">
<span class="edit-task-title">  
<h1>New Task in <%= @category.name %></h1>
  <%= link_to  categories_path, title: "Back to Categories" do %>  
    <i class="fa-solid fa-arrow-left"></i>
<% end %>
</span>
  

  <%= render "form", task: @task %>


  
</div>
