<% content_for :title, "New task" %>
<div class = "new-task">
  <h1>New Task in <%= @category.name %></h1>

  <%= render "form", task: @task %>

  <br>

  <p>
    <%= link_to "Back to Categories", categories_path %>
  </p> 
</div>
