@import "material-icons/iconfont/material-icons.css";

.tasks-index {
   background-color: rgb(142, 151, 255);
   padding: 0 2rem;
}

.tasks-index h1 {
    color: white;
    /* margin-top: 3rem; */
}

.task-container {
    background-color: rgb(230, 232, 255);
    padding: .5rem;
    border-radius: 10px;
    margin: 0 1rem;
}