<% content_for :title, "Edit category" %>
<div class="edit-category">
  
  <span class="edit-task-title">  
    <i class="fa-solid fa-gears"></i>
    <h1>Edit Category</h1>
  </span>

  <%= render "form", category: @category %><br>

</div>
