<% content_for :title, "New category" %>

<div class = "new-category">
  <span class="edit-task-title">  
  <h1>New Category</h1>
    <%= link_to  categories_path, title: "Back to Categories" do %>  
      <i class="fa-solid fa-arrow-left"></i>
  <% end %>
  </span>

<%= render "form", category: @category %>


</div>
